<%@LANGUAGE="JAVASCRIPT" CODEPAGE="65001"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
@import url("mcar.css");
</style>
</head>

<body>
<div id="maincontainer"><div class="logo"><img src="icons.gif"  href="google.com" width = 50%></div>

<div class="witem"></div>



<div class="title"><a HREF="mcar.html">ASDFAWRT - 123 triệu</a></div>
<div class="media"><img src="a.jpg" height="180" /></div>
<div class="ci0">Mã: x0 - Xe cũ 2009</div>
<div class="ci1">Ngày đăng: 1/1/2001</div>
<div class="ci0">Tình trạng: x1</div>
<div class="ci1">Nhiên liệu: x2</div>
<div class="ci0">Xuất xứ: x3</div>
<div class="ci1">Hộp số: x4</div>
<div class="ci0">Dòng xe: x5</div>
<div class="ci1">Tiêu thụ: x6</div>
<div class="ci0">Số km đã đi: x7</div>
<div class="ci1">Dẫn động x8</div>
<div class="ci0">Màu ngoại thất: x9</div>
<div class="ci1">Màu nội thất: x10</div>
<div class="ci2"><div class="ci21">Mô tả:</div><div class="ci22">ABXXYZ</div></div>
<div class="ci3"><div class="ci31">Liên hệ: x4</div><div class="ci32">Nguyễn Văn A</div><div class="ci33">ĐT: 01234567890</div></div>



</div>
<div id="footer">FOOTER</div>

</div>

</body>
</html>
