<%@LANGUAGE="JAVASCRIPT" CODEPAGE="65001"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
@import url("mstyle.css");
</style>
</head>

<body>
<div id="maincontainer"><div class="logo"><img src="icons.gif"  href="google.com" width = 50%></div>
<div class="witem"></div>
<div class="car_item1">
<div class="ci1"><a HREF="mcar.html">ASDFAWRT - 123 triệu</a></div>
<div class="ci2"><img src="a.jpg" height="180" /></div>
<div class="ci3">Mã: 1234567 - Xe cũ 2009</div>
<div class="ci4">Hà Nội</div>
<div class="ci5">*Xe lắp ráp trong nước, màu bạc,máy xăng, số tự động ...</div>
<div class="ci8"> 
SÀN Ô TÔ HN BÁN Xe Carens sx và đk 2012 màu bạc, máy xăng, số tự động, TNCC một ...</div>
<div class="ci6">LH: AUTO X</div>
<div class="ci7">ĐT: 01234567890</div>
</div>
<div class="car_item2">
<div class="ci1"><a HREF="mcar.html">ASDFAWRT - 123 triệu</a></div>
<div class="ci2"><img src="a.jpg" height="180" /></div>
<div class="ci3">Mã: 1234567 - Xe cũ 2009</div>
<div class="ci4">Hà Nội</div>
<div class="ci5">*Xe lắp ráp trong nước, màu bạc,máy xăng, số tự động ...</div>
<div class="ci8"> 
SÀN Ô TÔ HN BÁN Xe Carens sx và đk 2012 màu bạc, máy xăng, số tự động, TNCC một ...</div>
<div class="ci6">LH: AUTO X</div>
<div class="ci7">ĐT: 01234567890</div>
</div>
<div class="car_item1">
<div class="ci1"><a HREF="mcar.html">ASDFAWRT - 123 triệu</a></div>
<div class="ci2"><img src="a.jpg" height="180" /></div>
<div class="ci3">Mã: 1234567 - Xe cũ 2009</div>
<div class="ci4">Hà Nội</div>
<div class="ci5">*Xe lắp ráp trong nước, màu bạc,máy xăng, số tự động ...</div>
<div class="ci8"> 
SÀN Ô TÔ HN BÁN Xe Carens sx và đk 2012 màu bạc, máy xăng, số tự động, TNCC một ...</div>
<div class="ci6">LH: AUTO X</div>
<div class="ci7">ĐT: 01234567890</div>
</div>
<div class="car_item2">
<div class="ci1"><a HREF="mcar.html">ASDFAWRT - 123 triệu</a></div>
<div class="ci2"><img src="a.jpg" height="180" /></div>
<div class="ci3">Mã: 1234567 - Xe cũ 2009</div>
<div class="ci4">Hà Nội</div>
<div class="ci5">*Xe lắp ráp trong nước, màu bạc,máy xăng, số tự động ...</div>
<div class="ci8"> 
SÀN Ô TÔ HN BÁN Xe Carens sx và đk 2012 màu bạc, máy xăng, số tự động, TNCC một ...</div>
<div class="ci6">LH: AUTO X</div>
<div class="ci7">ĐT: 01234567890</div>
</div>
<div class="bm">
<a href="">Trang tiếp theo >></a>
</div>


</div>
<div id="footer">FOOTER</div>

</div>

</body>
</html>
